@{
    Layout = "_UserLayout";
}

<main class="flex-grow">
    @await Component.InvokeAsync("_HomeHeroComponentPartial")
    @await Component.InvokeAsync("_HomeFeaturesComponentPartial")
    @await Component.InvokeAsync("_HomeCategoryListComponentPartial")
    @await Component.InvokeAsync("_HomeDiscountComponentPartial")
    @await Component.InvokeAsync("_HomeTrendingProductsComponentPartial")
</main>