@model List<ResultCategoryDTO>

<section class="max-w-[1440px] mx-auto px-4 md:px-8 xl:px-20 py-16 md:py-24">
    <div class="flex flex-col md:flex-row md:items-end justify-between gap-6 mb-12">
        <div class="space-y-4 max-w-2xl">
            <h2 class="text-3xl md:text-4xl font-black text-text-main dark:text-white tracking-tight">Kategorilere Bak!</h2>
            <p class="text-text-sub text-lg">Maceranız için hazırlanın. Pist dışı toz kardan bakımlı pistlere kadar, ihtiyacınız olan özel ekipmanlar bizde.</p>
        </div>
        <a href="/Product/Index" class="text-primary font-bold flex items-center gap-2 hover:underline whitespace-nowrap">
            Tüm Ürünleri Gör <span class="material-symbols-outlined">arrow_forward</span>
        </a>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        @foreach(var item in Model.Take(3))
        {
            <a class="group relative h-[400px] overflow-hidden rounded-xl" href="#">
                <div class="absolute inset-0 bg-cover bg-center transition-transform duration-700 group-hover:scale-110" data-alt="@item.Description" style='background-image: url("@item.ImageUrl");'>
                </div>
                <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-black/20 to-transparent"></div>
                <div class="absolute bottom-0 left-0 p-8 w-full">
                    <h3 class="text-white text-2xl font-bold mb-2">@item.Name</h3>
                    <p class="text-gray-300 text-sm opacity-0 group-hover:opacity-100 transform translate-y-4 group-hover:translate-y-0 transition-all duration-300">@item.Description</p>
                </div>
            </a>
        }
       
    </div>
</section>